@use 'variables';

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

// Global styles
:root {
  --primary-color: #{variables.$primary-color};
}

*::selection {
  color: #ffffff;
  background: var(--primary-color);
}

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;

  h1 {
    font-size: 60px;
    margin: 10px 0;
  }

  h2 {
    font-size: 40px;
    margin: 10px 0;
  }

  h3 {
    font-size: 38px;
    margin: 10px 0;
  }

  p {
    font-size: 30px;
    margin: 10px 0;
  }
}

body {
  margin: 0;
}

main {
  padding: 0 80px;
}

